@{
    ViewData["Title"] = "Welcome to the MegaDesk Order Form";
}

<h1>Sample of our desks</h1>
<h4>Check out our quotes tab to order your new desk</h4>>
<img src="/images/roomandboard.jpeg" alt="deskImage" />
