@{
    ViewData["Title"] = "Quotes";
}


<div id="NewQuote">

    <lable> Quote Date </lable>
    <p> Date </p>
    
    <lable> First Name </lable>
    <input type="text" name="firstName" REQUIRED>

    <lable> Last Name </lable>
    <input type="text" name="lastName" REQUIRED>

    <lable> Desk Width </lable>
    <input type="number" name="deskWidth" min="36" max="60"  value="36" REQUIRED >

    <lable> Desk Length </lable>
    <input type="number" name="deskLength" min="24" max="180" value="24" REQUIRED >

    <lable> Drawers </lable>
    <p> Drawers </p>
        

    <lable> Material </lable>
    <p> Material </p>

    
    <lable> Shipping Days </lable>
    <p> Shipping Days </p>

    <lable> Shiping Price </lable>
    <p> Price </p>

    <lable> Total Price </lable>
    <p> Price </p>

    <div class="crud">
         <div class="delete"> Delete </div>
         <div class="edit"> Update </div>
    </div>

    
</div>